<p><a href="/parcels/<%= @parcel.id %>/edit">Edit parcel</a></p>
  
<h4>Parcel ID: <%= @parcel.id %></h4>
<ul>
  <li>Height: <%= @parcel.height %></li>
  <li>Width: <%= @parcel.width %></li>
  <li>Length: <%= @parcel.length %></li>
  <li>Weight: <%= @parcel.weight %></li>
</ul>

<a href="/parcels">Return to Parcel list</a>